.page-container {
  display: flex;
  flex-direction: column;
  padding: 16px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  height: 98vh;
}

/* Tables Section */
.game-container {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
}

@media screen and (min-width: 900px) {
  .game-container {
    background-image: url("../assets/images/card-carpet.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 250px;
  }
}

.game-log {
  border: 2px solid #28a745;
  border-radius: 5px;
  padding: 20px;
  background-color: #8be3a0;
  text-align: left;
}

.cards-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: space-between;
  gap: 10px;
}

h4 {
  margin-top: 0;
}

.card {
  padding: 10px;
}

.player-cards,
.river-cards,
.logs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  text-align: left;
}

.player-cards,
.river-cards {
  border-radius: 5px;
}

.game-actions {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 20px;
}

.action-button {
  background-color: #007bff;
  color: #fff;
  width: 50%;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.action-button:hover {
  background-color: #0056b3;
}

.river-cards {
  flex-grow: 3;
}

.player-cards {
  border: 2px solid #2846a7;
  background-color: #8698d3;
}

.river-cards {
  border: 2px solid #a73f28;
  background-color: #e7a191;
}

.actions-container {
  border: 2px solid #6328a7;
  background-color: #a47cd2;
}

.logs {
  list-style: none;
}

.logs li {
  margin: 5px 0;
}

.cards {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.card {
  text-align: center;
  width: 25px;
  height: 35px;
  border-radius: 5px;
  background-color: #fff;
}
